@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/c22f0b4d79a62fa0cf4747ce7b87c4c4/SVN-Claytonia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 2.2rem;
  }